<!DOCType html>
<html lang="en">
<head>
	<meta charset="utf8" />
	<title>Test electron</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
	<h1 class="text-bardiademon">bardiademon</h1>
</header>
<div class="btn-open">Open music</div>

<div class="audio">

	<img src="images/music.jpg" alt="img-audio" />
	<div>
		<div class="info-music name-info-music">Name:</div>
		<div class="info-music  val-info-music">name</div>
		<div class="info-music name-info-music">Artist:</div>
		<div class="info-music  val-info-music">artist</div>
		<audio class="main-audio" controls>
			<source src="" />
		</audio>
	</div>
</div>

</body>
</html>